此程序为技术学习使用，不提供任何形式的免费服务。使用者不得将本系统应用于任何形式的非法用途，由此产生的一切法律风险，需由使用者自行承担，与本站和开发者无关。一旦下载、安装、使用，表示您即承认您已阅读、理解并同意受此条款的约束，并遵守所有相应法律和法规。如果您不同意此类条款，请不要使用本程序。</br>
本程序不允许做任何违法违规内容</br>

授权为本地授权，可无限制使用，请勿泛滥！
</br>
正式使用需要开启缓存--点击系统---性能优化开启页面缓存</br>

泛关键词修改在网站根目录下data/title  和data/keywords  内  这两个可以保持一致即可</br>
GTP文章在网站根目录下data/gpt  文章标题为文件名，内容为GPT内容</br>
template\xiongmao\html文件夹内模板  默认detail 和 play 可以复制模板 并在后面随机数字即可随机模板</br>
头条文章采集宝塔定时任务(这里用来补充GPT文章库消耗过快，可以根据关键词采集头条文章自动存</br>放到data/gpt下）
宝塔自动采集教程</br>1.输入 http://www.你的域名.com/tt/newtt.php?id=qq2598312299 1分钟1次库 (这一个是根据关键词采集ID存放到data/ttid/	)</br>
批量采集头条资讯ID库</br> 2.输入http://www.你的域名.com/tt/newtt.php?id=tg@yzlseo 根据ID定时采集文章标题和内容 建议频率2分钟一次(根据上一步的ID采集文章放入data/gpt/